@media screen {
* { margin: 0; padding: 0; }    
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ul, ol {list-style: none;}
strong {font-weight: bold;}

article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }
/* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */

body { background-color:#f6f6f5;font: 12px/2 "Helvetica Neue",Helvetica,Arial,sans-serif;}
.clear{clear:both}


/*--------------------CONTAINER--------------------*/
#container{
    width: 1024px;
    margin: 0 auto;
    /*min-height: 900px;*/
    border: 1px #ccc solid;
    padding: 0px 20px;
}

/*--------------------HEADER--------------------*/
#header{width:100%;min-height: 80px; border-bottom: 1px solid #e0dfde; box-shadow: 0px 0.1px 4px #e0dfde;padding: 0px 20px;margin-left:-20px}
#header-main{width:100%; margin: 0px auto}
.logo h1{display: block;height: 80px; line-height: 80px; float: left; padding-left: 10px;}
.logo a{text-decoration: none; color:#666; font-size: 30px; font-weight: bold;}
#nav-menu{height:80px; line-height:80px; float:right;margin-right: 0px;z-index:99999;}
#nav-menu ul li{position: relative; }
#nav-menu>ul li{display:inline;padding:0px 10px;z-index: 999999}
#nav-menu>ul li a{color:#505050; font-size: 16px; text-decoration: none;padding: 7px 10px;border: 1px solid #f6f6f5;}
#nav-menu>ul>li>a:hover,.active>a {background-color: #f9f9f9; border: 1px solid #ccc !important; border-radius: 5px; }

/*---------------------- menu ----------------------*/

#nav-menu ul li ul{
    top:47px;left: 0px;
    margin-top:-25px;margin-left:10px;padding:0;
    background-color:#f9f9f9;
    position: absolute;
    border-radius: 5px;
    width: 200px;
    display:none;
    z-index:9999999;
}
#nav-menu ul li ul li {
    border-bottom: 1px dashed #ccc !important;
    border-radius: 5px;
    line-height: 50px;
    display: block;
    border: none;
    width: auto;
}
#nav-menu ul li ul li a{border:none; clear: both;}
#nav-menu ul li ul li:hover{background-color: #eee;}

#nav-menu ul li:hover ul{
    position: absolute;
    display:block;
}
/*--------------------CONTENT-WRAP--------------------*/
#content-wrap{
    width: 100%;
}
#slides{
    width: 100%;padding:0px 20px;margin-left:-20px;
    border-bottom: 1px solid #e6e4e2;
    text-align: center;margin-top: 10px auto;
}
#slides img{margin: 30px 0; box-shadow: 1px 7px 25px #505050;}

/*--------------------MAIN-CONTENT--------------------*/
#main-content {width: 100%;border-top: 1px solid white;}
.title-main {width: 100%; height:80px;margin:0px auto;overflow: hidden;}
.title-main h2{color: #505050;font-size: 18px;float: left;line-height: 80px; height: 100%;}
.title-main a{display:block; text-decoration: none;font-weight: bold;
    float:right;color:#505050;font-size:14px; 
    background-color: #f9f9f9; 
    margin-top: 20px;
    padding: 5px 30px; box-shadow: 0px 4px #666563;
    letter-spacing: 1px;
    border-radius: 6px;
    border: 1px solid  #eee;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
}
#main-content #form{
    border: 1px solid #ccc;
    width: 300px;
    padding: 20px 0px 20px 50px;
    box-shadow: 5px 5px 10px #ccc;
}

#main-content form input {
    width: 200px;
    height: 30px;
    border:solid 1px #ccc;
    padding-left: 7px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

#main-content form input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}


#main-content form input[type='submit']{
    width: 100px;
    margin-top: 20px;
    color: white;
    background-color:#0066ff;
    height: 25px;
    border:solid 1px #ccc;
    padding-left: 7px;
    border-radius: 5px
}
#main-content form input[type='submit']:hover{
    background-color:#6699ff;
}
.title-main a:hover{background-color: #eee;box-shadow: 0px 4px #f6c82a;}
/*--------------------CONTENT--------------------*/
#content{overflow: hidden;width: 104%;margin: 10px 0 10px -54px;}
.center-content{width:27.5%;float:left;overflow:hidden;min-height:390px;}
.center-content{margin-left: 62px;}

.center-content h3{font-size:16px;color: #505050;font-weight: bold;}
.center-content p{color: #505050;font-size:14px; text-align: justify; line-height: 20px;}
.center-content a{text-decoration: none;line-height:20px}
.center-content a:hover{text-decoration: underline}
/*--------------------FOOTER--------------------*/
#footer{width: 1024px;min-height: 200px;margin: 0px auto;margin-top: 30px;background-color:#1d1c1c;margin-top: 50px;}

.main-footer{overflow: hidden;margin: 0 auto;position: relative;}
.main-footer .list{overflow: hidden;width: 23%;float: left;margin: 20px 10px;}
.main-footer .list h3{border-bottom: 1px solid black;color: #dedcdb;font-size: 16px;}
.main-footer .list ul li{border-bottom: 1px solid black;border-top: 1px solid #333;line-height: 30px;font-size: 11px;}
.main-footer .list ul li:last-child{border-bottom: none;}

.main-footer .list p{border-top: 1px solid #333;color: #dedcdb;font-size:12px;}
.main-footer .list li a{color: #dedcdb;font-size: 13px;text-decoration: none;}
.main-footer .list li a:hover{text-decoration: underline;}

.main-footer .list form{margin-top: 10px;position: relative;}
.main-footer .list form input[type='text']{
    background: transparent;
    display:block;
    width: 98%;
    border-radius:5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-top:1px solid #161615;
    border-right:1px solid #161615;
    border-left:1px solid #161615;
    border-bottom:1px solid #302f2e;
    line-height: 35px;
    padding-left:0px;
    color: white;
    
    
    
}
.main-footer .list form input[type='submit']{
    position: absolute;
    width: 75px;
    height: 25px;
    top: 5px;right:10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}


#backtop{display:none;position: fixed;right:10px;bottom: 10px;}
#data{
    clear: both;
    background-color:white;
    display:none;
    width: 600px;
    height: 300px;
    overflow: auto;
    padding: 30px;
    border: 3px solid #ccc;
    position:fixed;top:20%;right:23%;
    border-radius: 5px;
    text-align: justify;
    color: blue;
    font-size: 16px;
    z-index: 9999;
    }
#data a{
    position:absolute;
    top:0px;
    right:10px;
    color: red;
}


}/*-----------------------Ennd @screen -----------------*/









